{% extends 'tripplanner/base.html' %}
{% load static %}
{% block extra_css%}<link
rel="stylesheet"
href="{% static 'style/detail.css' %}"
/>{% endblock %}
{% block script_js %}<script src="{% static 'js/activity.js' %}" defer></script>{% endblock %}
{% block title %}Trip planner | {{activity.name}}{% endblock %}
{% block content %}

<main>
  <h1>
    <a href="{% url 'activity' %}"><img src="{% static 'icons/left_arrow.png' %}" alt="Retour"/></a>
    <span>{{activity.name}}</span>
  </h1>

  <div class="actions">
    <a href="{% url 'activity_update' activity.pk %}" title="Modifier cette activité">✏️</a>
    <form action="{% url 'activity_delete' activity.pk %}" method="POST" title="Supprimer cette activité">
        {% csrf_token %}
        <button type="submit">❌</button>
    </form>
  </div>

  <section>
    <div>
        <div>
            <span>Nom :</span>
            <span>{{activity.name}}</span>
        </div>

        <div>
            <span>Ville :</span>
            <span>{{activity.city}}</span>
        </div>
        
        <div>
            <span>Prix par personne :</span>
            <span>{{activity.price_person}}</span>
        </div>
        
        <div>
            <span>Catégorie :</span>
            <span>{{activity.category}}</span>
        </div>
        
        <div>
            <span>Coordonnées GPS :</span>
            <span>{{activity.gps}}</span>
        </div>
        
        <div>
            <span>Note :</span>
            {% if 'https' in activity.note %}
            <a href="{{activity.note}}}" target="_blank">Lien</a>
            {% else %}
            <span>{{activity.note}}</span>
            {% endif %}
        </div>
    </div>
  </section>
</main>
{% endblock %}
