{% extends 'tripplanner/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/home.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/home.js' %}" defer></script>
{% endblock %} {% block title %}Trip planner | Accueil{% endblock %} {% block content %}
<main>
  <h1>Planificateur de voyages</h1>

  <section>
    <p>
      Ajoute d'abord des éléments dans les catégories <b>trajets</b>,
      <b>logements</b>, <b>activités</b> et <b>dépenses</b>. Crée ensuite un plan de
      voyage à partir de ces éléments.
    </p>
  </section>

  <section>
    <h3>
      <span>Mes voyages</span>
      <a href="{% url 'trip_new' %}" title="Ajouter un voyage">➕</a>
    </h3>

    <div id="trips">
      {% for trip in trips %}
      <a href="{% url 'trip_detail' trip.pk %}"
        >{{trip.place}} {{trip.date|date:"Y"}}</a
      >
      {% empty %} Pas de voyage créé pour le moment. {% endfor %}
    </div>
  </section>

  <section id="scrap">
    <h3>Bons plans en France</h3>

    {% if kayak_elements %}
    <div>
      {% for element in kayak_elements %}
      <a href="{{element.href}}" target="_blank">{{element.text}}</a>
      {% endfor %}
    </div>
    {% else %}
    <span>Aucun élément présent.</span>
    {% endif %}

    <h3>Bons plans à l'étranger</h3>

    {% if verychic_elements %}
    <div>
      {% for element in verychic_elements %}
      <a href="{{element.link}}" target="_blank">{{element.text}} (à partir de {{element.price}})</a>
      {% endfor %}
    </div>
    {% else %}
    <span>Aucun élément présent.</span>
    {% endif %}
  </section>
</main>
{% endblock %}
