{% extends 'tripplanner/base.html' %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'style/new.css' %}" />{% endblock %}
{% block script_js %}<script src="{% static 'js/trip.js' %}" defer></script>{% endblock %}
{% block title %}Tripplanner | Nouveau voyage{% endblock %}
{% block content %}
<main>
  <h1>
    <a href="{% url 'trip' %}"
      ><img src="{% static 'icons/left_arrow.png' %}" alt="Retour"
    /></a>
    <span>
      {% if title %} {{title}} {% else %} Ajouter un voyage {% endif %}
    </span>
  </h1>

  <form method="POST">
    {% csrf_token %}
    <section>
      <div>{{ form.place.label_tag }} {{ form.place }}</div>
      <div>{{ form.date.label_tag }} {{ form.date }}</div>
      <div>{{ form.duration.label_tag }} {{ form.duration }}</div>
      <div>{{ form.people.label_tag }} {{ form.people }}</div>
      <div>{{ form.travels.label_tag }} {{ form.travels }}</div>

      <div>
        {{ form.airbnbs.label_tag }}
        <ul id="airbnbs">
          {% for airbnb in airbnbs_with_destination %}
          <li>
            <label>
              <input type="checkbox" name="airbnbs" value="{{ airbnb.id }}"
              {% if airbnb.id in airbnbs_ids %}checked{% endif %}>
              {{ airbnb.name }}
            </label>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div>
        {{ form.activities.label_tag }}
        <ul id="activities">
          {% for activity in activities_with_destination %}
          <li>
            <label>
              <input type="checkbox" name="activities" value="{{ activity.id }}"
              {% if activity.id in activities_ids %}checked{% endif %}>
              {{ activity.name }}
            </label>
          </li>
          {% endfor %}
        </ul>
      </div>
      
      <div>{{ form.expenses.label_tag }} {{ form.expenses }}</div>
    </section>

    {% if errors %}
    <ul>
      {% for field, errors in form.errors.items %} 
      {% for error in errors %}
      <li>{{ field }}: {{ error }}</li>
      {% endfor %} 
      {% endfor %}
    </ul>
    {% endif %}

    <button type="submit">
      {% if submit_text %}{{submit_text}}{% else %}Ajouter{% endif %}
    </button>
  </form>
</main>
{% endblock %}