@import 'mixins.scss';
@import 'constants.scss';

main {
    @include flexcolumn;
    gap: 4em !important;
    padding-bottom: 3em;
}

nav,
footer {
    background-color: var(--color-primary2);
}

.top {
    $k: 80;
    background: linear-gradient(rgba($k, $k, $k, .5), transparent);
    height: 10em;
    position: fixed;
    top: var(--height);
    z-index: 2;
}

main {
    // background-color: var(--color-quaternary2);
    background: url("../pics/trip01.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    @include flexcolumn;
    gap: 1em;

    h1 {
        @include red-neon;
        color: white;
        font-weight: 400;
    }

    section {
        @include flexcolumn;
        gap: 2em;

        h3 {
            text-align: center;
            font-size: 30px;
            @include white-neon;
            @include flex;
            justify-content: center;
            gap: 10px;

            span,
            a {
                width: auto;
            }

            a {
                text-decoration: none;
                font-size: 24px;
            }
        }

        >a {
            @include button;
        }

        >p {
            background-color: rgba(white, .35);
            backdrop-filter: blur(10px);
            border-radius: 20px;
            padding: 1em;
            text-indent: 0;
            text-align: justify;
            font-size: 24px;
        }
    }
}

#trips {
    @include flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;

    a {
        @include link-btn-list;
    }
}

#scrap {
    @include flexcolumn;
    gap: 1em;

    div,
    span {
        margin-bottom: 2em;

    }

    div {
        @include flexcolumn;
        gap: 5px;

        a {
            @include shadow-active;
            text-decoration: none;
            color: black;
            font-size: 18px;
            background-color: rgba(white, .7);
            backdrop-filter: blur(10px);
            padding: 5px 10px;
            border-radius: 10px;
            transition: 300ms all ease;

            &:hover {
                transition: 150ms all ease;
                background-color: white;
            }
        }
    }

    span {
        text-align: center;
        width: auto;
        padding: 10px 30px;
        background-color: rgba(white, .5);
    }
}