@import 'mixins.scss';
@import 'constants.scss';

main {
    @include flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 3em;
}

nav,
footer {
    background-color: var(--color-primary3);
}

.top {
    $k: 80;
    background: linear-gradient(rgba($k, $k, $k, .5), transparent);
    height: 10em;
    position: fixed;
    top: var(--height);
    z-index: 2;
}

main {
    background-color: var(--color-quaternary3);
    @include flexcolumn;
    gap: 3em;

    h1 {
        @include green-neon;
        color: white;
        font-weight: 400;
    }

    >a {
        @include button;
    }
}

.elements {
    width: clamp(300px, 50%, 550px);
    @include flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;

    >div {
        @include shadow-active;
        width: 100%;
        @include flex;
        justify-content: space-between;
        background-color: rgba(white, .5);
        text-align: center;

        a {
            text-decoration: none;
        }

        &:hover {
            background-color: rgba(white, .8);
        }

        @media (width<=768px) {
            width: clamp(100px, 70%, 300px);
            padding: .8em;
            font-size: 18px;
        }

        div {
            width: auto;
            font-size: 16px;
            padding: 5px;
            @include flex;
            gap: 10px;

            a,
            form {
                width: auto;
                font-size: 16px;
                
                button {
                    @include no-border;
                    background-color: transparent;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }
    }
}