@import 'mixins.scss';
@import 'constants.scss';

main {
    @include flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 3em;
}

nav,
footer {
    background-color: var(--color-primary3);
}

.top {
    $k: 80;
    background: linear-gradient(rgba($k, $k, $k, .5), transparent);
    height: 10em;
    position: fixed;
    top: var(--height);
    z-index: 2;
}

main {
    background-color: var(--color-quaternary3);
    @include flexcolumn;
    gap: 3em;

    h1 {
        @include green-neon;
        color: white;
        font-weight: 400;
    }

    >a {
        @include button;
    }

    >select {
        width: clamp(300px, 40%, 600px);
        padding: 10px;
        @include no-border;
        font-size: 18px;
    }
}

.elements {
    width: clamp(300px, 50%, 550px);
    @include flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;

    >div {
        @include shadow-active;
        width: 100%;
        @include flex;
        justify-content: space-between;
        background-color: rgba(white, .5);
        text-align: center;

        span,
        a {
            @include flex;
            text-decoration: none;
            justify-content: space-between;
            color: black;
            font-weight: normal;

            div {
                width: auto !important;
                text-align: left;
            }
        }

        span {
            &:first-child {
                font-weight: 600;
            }
        }

        &:hover {
            background-color: rgba(white, .8);
        }

        div {
            width: auto;
            font-size: 16px;
            padding: 5px;
            @include flexcolumn;
            align-items: flex-start;

            &:nth-child(2) {
                @include flex;
                gap: 5px;
            }

            span {
                width: auto;
            }

            a,
            form {
                width: auto;
                font-size: 16px;

                button {
                    @include no-border;
                    background-color: transparent;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }

        @media (width<=768px) {
            width: clamp(300px, 80%, 700px);
            font-size: 18px;
        }
    }
}

#experiences {
    width: clamp(300px, 60%, 800px);
    @include flexcolumn;
    gap: 1em;

    article {
        @include border;
        position: relative;
        background-color: rgba(white, .3);
        padding: 5px;

        div {
            width: auto;
            @include flex;
            gap: 10px;

            span {
                width: auto;
                white-space: nowrap;

                &:first-child {
                    font-weight: 800;
                }
            }

            a {
                text-decoration: none;
                font-weight: 600;
            }

            &:last-child {
                gap: 5px;
                position: absolute;
                $side: 10px;
                top: $side;
                right: $side;

                a,
                form {
                    width: auto;
                }

                a, form button {
                    @include no-border;
                    background-color: transparent;
                    font-size: 18px;
                }
            }
        }
    }
}