{% extends 'tripplanner/base.html' %} {% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'style/index.css' %}" />{% endblock %}
{% block script_js %}<script src="{% static 'js/airbnb.js' %}" defer></script>{% endblock %}
{% block title %}Trip planner | AirBnb{% endblock %}
{% block content %}
<main>
  <h1>Liste des logements AirBnb</h1>

  <a href="{% url 'airbnb_new' %}" title="Rajouter un logement à la liste"
    >Rajouter un logement</a
  >

  <div class="elements">
    {% for airbnb in airbnbs %}
    <div>
      <a href="#">
        <div>{{airbnb.name}} ({{airbnb.city}} | {{airbnb.price}} €/nuit)</div>
        <div>
          <a
            href="{% url 'airbnb_update' airbnb.pk %}"
            title="Modifier ce logement"
            >✏️</a
          >
          <form action="{% url 'airbnb_delete' airbnb.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" title="Supprimer le logement">❌</button>
          </form>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
