{% extends 'tripplanner/base.html' %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'style/new.css' %}" />{% endblock %}
{% block script_js %}<script src="{% static 'js/country.js' %}" defer></script>{% endblock %}
{% block title %}Tripplanner | Nouvelle destination{% endblock %}
{% block content %}
<main>
  <h1>
    <a href="{% url 'country' %}"><img src="{% static 'icons/left_arrow.png' %}" alt="Retour"/></a>
    <span>
      {% if title %}
      {{title}}
      {% else %}
      Ajouter une destination
      {% endif %}
    </span>
  </h1>

  <form method="POST">
    {% csrf_token %}
    <section>
      <div>{{ form.name.label_tag }} {{ form.name }}</div>
    </section>

    {% if errors %}
    <div class="error">{{ errors }}</div>
    {% endif %}

    <button type="submit">
      {% if submit_text %}{{submit_text}}{% else %}Ajouter{% endif %}
    </button>
  </form>
</main>
{% endblock %}
